#projeto {
  background-color: var(--shape-background);

}

#brand {
  display: grid;
  grid-template-columns: 33.333% 66.666%;

  height: 100vh;
  overflow: hidden;
}

#icon {
  display: flex;
  align-items: center;
  gap: 0.75rem;
    
  img {
    width: 1.5rem;
    height: 1.5rem;
  }    
}

aside {
  width: 25rem;
  height: 45.5rem;
  background-image: url(/assets/Background.png);
  background-size: cover;
  margin: 1.25rem;  
  padding: 2rem;
}

main {
  overflow: auto;
  padding: 5rem 8.125rem;
}



.color-picker-container {
    background-color: #333; /* Fundo do container similar ao da imagem */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.section-colors [
  
]